// Defining variables
$primary-bg-color: #7d6e59;
$secondary-bg-color: #333;
$primary-text-color: #fff;
$secondary-text-color: #333;
$list-item-bg-color: #e7e7e7;

// Body styles
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #473e33;
}

// Media query
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }
    header h1 {
        font-size: 2em;
    }
}

// Profile photo styles
.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

// Container styles
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

// Header styles
header {
    background: $primary-bg-color;
    color: $primary-text-color;
    padding: 20px 0;
    text-align: center;

    h1 {
        margin-bottom: 0;
    }
}

// Section styles
section {
    padding: 20px 0;
    margin: 20px 0;
}

// Experience item styles
.experience-item {
    background: $primary-text-color;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(118, 96, 96, 0.1);
}

// Contact section styles
#contact {
    background: $secondary-bg-color;
    color: $primary-text-color;
    padding: 10px;
    text-align: center;
}

// Footer styles
footer {
    background: $primary-bg-color;
    color: $primary-text-color;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

// Heading styles
h2 {
    color: $secondary-text-color;
}

// List styles
ul {
    list-style-type: none;
    padding: 0;

    li {
        background: $list-item-bg-color;
        margin: 5px;
        padding: 10px;
    }
}
